.home {
    .image {
        position: relative;
        width: 100%;
        height: 500px;

        .imageSchool {
            width: 100%;
            height: 100%;
            position: relative;
            object-fit: cover; /* Preenche o container, pode cortar a imagem */
        }
    }

    .instagramLayout {
        padding-top: 93px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #67001c;
        }
        .gallery {
            gap: 10px;
            display: grid;
            margin: 50px;
            margin-top: 10px;
            grid-template-columns: repeat(3, 1fr);

            .photos {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
    }

    .stages {
        display: flex;
        justify-content: center;
        padding: 10% 0;

        .gallery {
            gap: 10px;
            display: grid;
            grid-template-columns: repeat(4, auto);

            .stage {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                width: 335px;
                transition: ease-in-out 0.5s;

                .photos {
                    height: 500px;
                    object-fit: cover;
                }

                .text {
                    height: 100px;
                    display: flex;
                    text-align: center;
                    background: #67001c;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 21px;
                }

                &:hover{
                    box-shadow: 5px 6px 12px;
                }
            }
        }
    }

    .photoGrid {
        display: grid;
        height: 480px;
        grid-template-columns: repeat(3, 1fr);

        .photoItem {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
