.menu {
    display: flex;
    background-color: #951b1b;
    flex-direction: column;

    .step {
        display: flex;
        justify-content: end;
        padding: 15px 23%;
        align-items: center;
        gap: 24px;
    }

    .contacts {
        background-color: #67001c;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        padding: 50px 23%;

        .actionsButtons {
            cursor: pointer;
            list-style: none;
            gap: 24px;
            position: relative;
            transition: all 1s;

            .school {
                display: flex;
                gap: 7px;
                align-items: center;

                .arrow {
                    transform: rotate(0);
                    transition: transform 0.5s;
                }

                .down {
                    transform: rotate(180deg);
                    transition: transform 0.5s;
                }

                .schoolOptions {
                    gap: 8px;
                    position: absolute;
                    padding: 15px 30px;
                    width: 180px;
                    top: 100%;
                    border-radius: 5px;
                    z-index: 1;
                    left: -10%;
                    background: #951b1b;
                    box-shadow: 10px 11px 5px #00000073;
                    transition: all 0.5s;

                    :hover {
                        font-weight: bold;
                    }
                }
            }

            .option:hover {
                font-weight: bold;
                transition: all 0.5s;
            }
        }
    }
}
