@import "@fortawesome/fontawesome-free/css/all.css";
@import url(_menu.scss);
@import url(_homePage.scss);
@import url(_footer.scss);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//? Default Class

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f3f3;
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
}

//? Displays
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

//? Colors
.bWhite {
    background-color: white;
}

.fWhite {
    color: white;
}

//? Fonts
.f-18 {
    font-size: 18px;
}

//? Router
.router-link {
    text-decoration: none;
    color: white;
}
